.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #434b57;
}

h1 {
  margin: 30px;
  font-family: 'Concert One', sans-serif;
  text-shadow: 5px 0 #1b1c1d;
  font-size: 8rem;
  color: #46d9dc;
}

p {
  font-size: 2rem;
  color: #92daec;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


